.cabecera {
    height: 70px;
    background-color: var(--fondoOscuro);
    z-index: 9999;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 14px;
}

.cabecera-poner {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.texto-logo {
    font-size: 22px;
    color: var(--colorTexto);
    text-decoration: none;
    margin-right: 30px;
}

    .texto-logo:hover {
        color: var(--colorTextoHover);
    }

.menu-dropdown {
    position: relative;
    display: inline-block;
}

.menu-dropdown-contenido {
    display: none;
    position: absolute;
    background-color: var(--fondoOscuro);
    color: var(--colorTexto);
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    padding: 0px;
    z-index: 1;
}

.menu-dropdown-item {
    display: block;
    padding: 8px 15px;
    margin: 0px;
}

.menu-dropdown:hover .menu-dropdown-contenido {
    display: block;
}

.menu-dropdown-contenido a:hover {
    color: var(--colorTextoHover);
    background-color: var(--fondoBotonHover);
}

.menu-dropdown-contenido button:hover {
    color: var(--colorTextoHover);
    background-color: var(--fondoBotonHover);
}

.cuerpo {
    background-color: var(--fondoCuerpo);
    color: var(--colorTexto);
    height: 100%;
    font-family: 'Motiva Sans';
    position: relative;
}

.cuerpo-ancho {
    max-width: 1320px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.pie {
    background-color: var(--fondoOscuro);
    font-size: var(--tamañoTexto);
    color: var(--colorTexto);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
}

.texto-pie {
    font-size: var(--tamañoTexto);
    color: var(--colorTexto);
    text-decoration: none;
}

    .texto-pie:hover {
        color: var(--colorTextoHover);
    }

    .texto-pie:visited {
        color: var(--colorTextoVisitado);
    }

.expandir {
    transition: transform .2s;
}

    .expandir:hover {
        transform: scale(1.02);
    }

.texto-cabecera {
    font-size: var(--tamañoTexto);
    color: var(--colorTexto);
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    vertical-align: middle;
    background-color: transparent;
}

    .texto-cabecera:hover {
        color: var(--colorTextoHover);
    }

    .texto-cabecera:visited {
        color: var(--colorTextoVisitado);
    }

    .texto-cabecera:active {
        color: var(--colorTextoActivo);
    }